* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;

  list-style: none;
}

body {
  position: relative;
}

.container {
  width: 956px;
  margin: 0 auto;
}

header {
  margin-bottom: 56px;

  box-shadow: 0px 0px 16px rgb(38 38 38 / 16%);
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 26px 0;
}

.header__logo {
  display: flex;
  align-items: center;
}

.header__controls {
  display: flex;
  align-items: center;

  padding-right: 10px;
}

.header__controls-button {
  margin-right: 27px;
  padding: 14px 20px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  color: #1d1d1d;

  border: 1px solid #e0e0e0;
  border-radius: 2px;
  background-color: #fff;
  cursor: pointer;
}

.search {
  display: flex;
  margin-bottom: 56px;
}

.search__input {
  width: 100%;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  border: none;
  border-bottom: 2px solid rgba(117, 117, 117, 0.3);
  outline: none;
  mix-blend-mode: normal;
  opacity: 0.5;

  cursor: pointer;
}

.search__input::placeholder {
  color: grey;
}

.search__input:hover {
  border-color: black;
}
.search__input:focus {
  border-color: black;
}

.restaraunts {
  display: flex;
  flex-direction: column;
}
.restaraunt__image {
  margin-bottom: 16px;
}
.restaraunts__title {
  margin-bottom: 16px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 34px;
  color: #1d1d1d;
}

.restaraunts__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 64px;
}

.restaraunts__card {
  margin-bottom: 36px;
}

.restaraunt__title {
  margin-bottom: 4px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  color: #1d1d1d;
}
.restaraunt__price-cuisine {
  margin-bottom: 4px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #626262;
}
.restaraunt__deliviry-timing {
  margin: 0;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
  color: #1d1d1d;
}

footer {
  background: #262626;
}

.footer {
  display: flex;
  flex-direction: column;
}

.footer__logo {
  display: flex;
  justify-content: flex-start;
  padding: 56px 0px 40px;

  border-bottom: 2px solid rgba(255, 255, 255, 0.4);
}

.footer__information {
  display: flex;
  justify-content: flex-start;
  padding-top: 32px;
  padding-bottom: 48px;

  border-bottom: 2px solid rgba(255, 255, 255, 0.4);
}

.footer__select-socials {
  display: flex;
  flex-direction: column;

  width: 34%;
}

.footer__select {
  margin-bottom: 33px;
}

.select-language {
  position: relative;
  width: 227px;
  height: 40px;

  padding: 12px 48px 12px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #ffffff;

  background: #3b3b3b;
  border-radius: 3px;
  border: none;
  outline: none;

  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;

  cursor: pointer;
}

.select-language::-ms-expand {
  display: none;
}

.select-language:focus {
  box-shadow: 0px 0px 0px 1px #ffffff;
}

.select-wrapper {
  position: relative;

  margin: 0;

  width: 227px;
}

.select-wrapper::before {
  content: "";

  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  z-index: 1;

  width: 16px;
  height: 16px;

  background-image: url(/assets/world.svg);

  pointer-events: none;
}

.select-wrapper::after {
  content: "";

  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
  z-index: 1;

  width: 14px;
  height: 8px;

  background-image: url(/assets/dropdown.svg);

  pointer-events: none;
}

.footer__stores {
  display: flex;
  justify-content: center;
  padding: 40px 0;

  border-bottom: 2px solid rgba(255, 255, 255, 0.4);
}

.footer__store:first-child {
  margin-right: 42px;
}

.hashtag {
  margin: 0px;
  margin-bottom: 22px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}

.footer__socials {
  display: flex;
  justify-content: flex-start;
}

.footer__socials .footer__social:not(:last-child) {
  margin-right: 18px;
}

.footer__link-list1 {
  margin: 0;

  line-height: 39px;

  width: 34%;
}

.footer__link-list2 {
  margin: 0%;

  line-height: 39px;

  width: 32%;
}
.link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  text-decoration: none;
  color: #ffffff;
}

.link:hover {
  text-decoration: underline 2px rgba(255, 255, 255, 0.4);
}

.footer__privacy {
  display: flex;
  justify-content: flex-start;
  padding-top: 40px;
  padding-bottom: 40px;
}

.footer__privacy-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
}

.footer__privacy-copyright {
  width: 34%;
}

.footer__privacy-personal {
  width: 34%;
}

.footer__privacy-license {
  width: 32%;
}

.scroll-top {
  position: absolute;

  right: 24px;
  bottom: 24px;
}

@media (min-width: 768px) and (max-width: 1123px) {
  .container {
    width: 752px;
  }
  .restaraunt__image {
    width: 368px;
    height: 256px;
  }

  .select-language {
    width: 176px;
  }

  .select-wrapper {
    width: 176px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .container {
    width: 308px;
  }

  .restaraunt__image {
    width: 308px;
    height: 246px;
  }

  .button-basket {
    display: none;
  }

  .header__controls-button {
    margin-right: 0px;
  }

  .footer__information {
    flex-direction: column;
  }

  .select-language {
    width: 173px;
  }

  .select-wrapper {
    width: 173px;
  }

  .footer__select-socials {
    margin-bottom: 18px;
  }

  .footer__link-list1 {
    display: contents;
  }

  .appstore-logo {
    width: 109px;
    height: 36px;
  }

  .googleplay-logo {
    width: 124px;
    height: 36px;
  }

  .footer__privacy {
    flex-direction: column;
  }
  .footer__privacy-personal,
  .footer__privacy-copyright {
    width: 100%;
    margin-bottom: 24px;
  }
  .footer__privacy-license {
    width: 100%;
  }
}
